

body{
    background-color: #141414;
}

p{
  color: white;
}
h1{
    color: white;
}
/* unvisited link * Just examples
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }


  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd; /* Color of background when you hover over it. */
    color: black; /* Color of text from nav bar */ 
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }