

body{
    background-color: #141414;
}

p{
  color: white;
}
h1{
    color: white;
}
/* unvisited link * Just examples */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

/* Top navigation Bar Class */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: right;
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .topnav b { /* Testing how a b would work -- kinda pog, check the index for the example (Contact) */
    float: right;
    color: green;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd; /* Color of background when you hover over it. */
    color: black; /* Color of text from nav bar */ 
  }
  
  .topnav a.active { /* The current thing you're on */
    background-color: #4CAF50;
    color: black;
  }