

body{
    background-color: #141414;
}

p{
  color: white;
}


h1{
    color: white;
    position: 35
}
img {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
/* unvisited link * Just examples */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

/* Top navigation Bar Class */
  .topnav {
    overflow: hidden;
    background-image: linear-gradient(#141414, black);
    opacity: 1;
  }
  
  .topnav a {
    float: right;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd; /* Color of background when you hover over it. */
    color: black; /* Color of text from nav bar */ 
  }
  
  /* .topnav a.active { # The current thing you're on. Moving this to .topnav home but here for learning
    background-color: #4CAF50;
    ;
  } */
  .topnav a.home {
    text-decoration: underline;
    float: left;
  }

/* About Summary Class */
.about {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.about p {
  text-align: center;
}